/*
* design by liwei
* railser.cn
* hi@liwei.me
*/

$blue_color:    #0073EA;
$pink_color:    #FF0084;
$red_color:     #CC0000;
$dark_color:    #444444;
$page_color:    #dddddd;
$border_color:  #DDDDDD;
$link_color:    #DDDDDD;

.grey  {color: grey;}
.green {color: green;}
.red   {color: red;}


body { 
  color: $page_color; 
  padding: 0;
  margin: 0;
  background: url("/images/bg.png") repeat;
}

body, p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
}

pre {}

a {
  text-decoration: none;
  color: $link_color;
}

img {border: 0;}

h1,h2,h3 {
  color: $pink_color;
  a {
    color: $pink_color !important; 
    text-decoration: underline;
  }
}

/*common style*/
.fs-10        {font-size: 10px;}
.fs-12        {font-size: 12px;}
.fs-14        {font-size: 14px;}
.right        {float: right;}
.left         {float: left;}
.text-right   {text-align: right;}
.text-left    {text-align: left;}
.text-center  {text-align: center;}
.clearfix     {clear: both;}
.small        {font-size: 10px;}
.normal-font  {font-weight: normal;}

/*page template*/
.header {
    width: 777px;
    margin: 0 auto;
}
.logo {height: 539px;}
ul.nav {
  margin: 0;
  padding: 0;
  padding-left: 400px;
  display: block;
  li {
    list-style: none outside none;
    float: left;
    a {
      display: block;
      width: 119px;
      height: 97px;
      background: url("/images/tabs_btn.png") no-repeat;
      position: relative;
      span {
        display: block;
        width: 118px;
        height: 97px;
        position: absolute;
        bottom: -2px;
        z-index: 99;
      }
    }
    a.iphone {}
/*    a.iphone:hover {background-position: left bottom;}*/
    a.on-iphone {
      background-position: left bottom;
      border-right: 1px solid #000;
      border-left: 1px solid #000;
      span {
        background: url("/images/up_arrow.png") no-repeat center bottom;
      }
    }
    a.ipad {background-position: right bottom;}
/*    a.ipad:hover {background-position: right top;}*/
    a.on-ipad {
      background-position: right top;
      border-right: 1px solid #000;
      border-left: 1px solid #000;
      span {
        background: url("/images/up_arrow.png") no-repeat center bottom;
      }
    }
  }
}

.main{
  clear: both;
  width: 812px;
  margin: 0 auto;
  z-index: 0;
  .main-header {
    background: url("/images/main_bg.png") no-repeat right top;
    height: 60px;
  }
  .main-boddy {
    background: url("/images/main_bg_repeat.png") repeat-y;
    height: 1000px;
  }
  .main-footer {
    background: url("/images/main_bg.png") no-repeat right bottom;
    height: 120px;
  }
}

.footer {
  clear: both;
  width: 812px;
  margin: 0 auto;
  padding: 80px 0;
  text-align: right;
}

