/*
* design by liwei
* railser.cn
* hi@liwei.me
*/

$blue_color:    #0073EA;
$pink_color:    #FF0084;
$red_color:     #CC0000;
$dark_color:    #444444;
$page_color:    #dddddd;
$border_color:  #DDDDDD;
$link_color:    #DDDDDD;

.grey  {color: grey;}
.green {color: green;}
.red   {color: red;}


body { 
  color: $page_color; 
  padding: 0;
  margin: 0;
  background: url("/images/bg.png") repeat;
}

body, p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
}

pre {}

a {
  text-decoration: none;
  color: $link_color;
}

img {border: 0;}

h1,h2,h3 {
  color: $pink_color;
  a {
    color: $pink_color !important; 
    text-decoration: underline;
  }
}

/*common style*/
.fs-10        {font-size: 10px;}
.fs-12        {font-size: 12px;}
.fs-14        {font-size: 14px;}
.right        {float: right;}
.left         {float: left;}
.text-right   {text-align: right;}
.text-left    {text-align: left;}
.text-center  {text-align: center;}
.clearfix     {clear: both;}
.small        {font-size: 10px;}
.normal-font  {font-weight: normal;}

/*page template*/
.header {
    width: 777px;
    margin: 0 auto;
}
.logo {height: 539px;}
ul.nav {
  margin: 0;
  padding: 0;
  padding-left: 400px;
  display: block;
  li {
    list-style: none outside none;
    float: left;
    a {
      display: block;
      width: 119px;
      height: 97px;
      background: url("/images/tabs_btn.png") no-repeat;
      position: relative;
      cursor: pointer;
      span {
        display: block;
        width: 118px;
        height: 97px;
        position: absolute;
        bottom: -2px;
        z-index: 99;
      }
    }
    a.iphone {}

    a.on-iphone {
      background-position: left bottom;
      border-right: 1px solid #000;
      border-left: 1px solid #000;
      span {
        background: url("/images/up_arrow.png") no-repeat center bottom;
      }
    }
    a.ipad {background-position: right bottom;}
    a.on-ipad {
      background-position: right top;
      border-right: 1px solid #000;
      border-left: 1px solid #000;
      span {
        background: url("/images/up_arrow.png") no-repeat center bottom;
      }
    }
  }
}

.main{
  clear: both;
  width: 812px;
  margin: 0 auto;
  z-index: 0;
  .main-header {
    background: url("/images/main_bg.png") no-repeat right top;
    height: 60px;
  }
  .main-boddy {
    background: url("/images/main_bg_repeat.png") repeat-y;
  }
  .main-footer {
    background: url("/images/main_bg.png") no-repeat center bottom;
    height: 80px;
    .more-app-btn {
      width: 192px;
      margin: 0 auto;
      padding-top: 10px;
      a {
        display: block;
        width: 192px;
        height: 27px;
        background: url("/images/more_btn.png") no-repeat 0 0;
      }
      a:hover {
        background: url("/images/more_btn_highlight.png") no-repeat 0 0;
      }
    }
  }
}

.content-box {
  width: 740px;
  margin-left: 54px;
  .content-header {
    height: 40px;
    background: url("/images/content_bg.png") no-repeat left top;
  }
  .content-layout {
    background: url("/images/content_bg.png") no-repeat left bottom;
  }
  .content-boddy {
    background: url("/images/content_bg_repeat.png") repeat-y left center;
    .content-boddy-box {
      width: 597px;
      margin: 0 auto;
      }
      .icon {
        width: 82px;
        text-align: center;
        float: left;
      }
      .desc {
        float: left;
        width: 500px;
        margin-left: 10px;
        color: #2a2a2a;
        .app-title {
          font-size: 24px;
          color: #2a2a2a;
          font-family: sans-serif;
          font-weight: bold;
          .right {
            color: #358f1b;
            font-style: italic;
          }
          a {
            color: #2a2a2a;
          }
          a:hover {
            text-decoration: underline;
          }
        }
        .app-desc {
          width: 330px;
          margin-top: 10px;
        }
      }
  }
  .content-footer {
    height: 72px;
    text-align: right;
    padding-right: 89px;
    img {
      margin-top: 0px;
    }
  }
}
.content-line {
  height: 46px;
  background: url("/images/single_line.png") no-repeat center center;
}
.icons-div {
  .icons {
    margin-top: 20px;
    text-align: right;
    margin-right: 58px;
    img {
      margin-right: 14px;
    }
  }
  .line {
    height: 10px;
    margin-top: 17px;
    background: url("/images/single_line.png") no-repeat center center;
  }
}
.subscribe-div {
  width: 813px;
  height: 207px;
  margin-top: 14px;
  background: url("/images/subscribe_bg.png") no-repeat 0 0;
  .subscribe-form {
    padding: 30px 0 0 105px;
    .text {
      width: 308px;
      color: #656565;
      line-height: 20px;
      font-size: 12px;
      font-family: sans-serif;
      margin-bottom: 20px;
    }
    .input {
      width: 308px;
      height: 35px;
      background: url("/images/input_bg.png") no-repeat 0 0;
      position: relative; /*absolute*/
      .input-field {
        width: 203px;
        position: absolute;
        top: 4px;
        left: 10px;
        border: none;
        height: 22px;
        background: url("/images/input_bg.png") no-repeat center center;
        color: #656565;
        font-size: 12px;
        font-family: sans-serif;
      }
      .submit-btn {
        position: absolute;
        top: 4px;
        right: 10px;
      }
    }
    .notice {
      font-size: 12px;
      font-family: sans-serif;
      font-weight: bold;
      padding-left: 24px;
      height: 24px;
      line-height: 24px;
      margin-top: 10px;
    }
    .success {
      background: url("/images/success.png") no-repeat left 3px;
      color: #c34445;
    }
    .error {
      background: url("/images/error.png") no-repeat left 3px;
      color: #c34445;
    }
  }
}


.footer {
  clear: both;
  width: 656px;
  margin: 0 auto;
  padding: 20px 0;
  text-align: right;
  color: #656565;
  font-size: 14px;
  font-family: sans-serif;
  font-style: italic;
  line-height: 40px;
  height: 40px;
  background: url("/images/some_icon.png") no-repeat right 14px;
  .copyright {
    margin-right: 50px;
  }
}

a.youtube {
  width: 26px;
  height: 24px;
  background: url("/images/youtube.png") no-repeat 0 0;
  text-decoration: none !important;
}
