/*
* design by liwei
* railser.cn
* hi@liwei.me
*/
.grey {
  color: grey; }

.green {
  color: green; }

.red {
  color: red; }

body {
  color: #dddddd;
  padding: 0;
  margin: 0;
  background: url("/images/bg.png") repeat; }

body, p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif; }

a {
  text-decoration: none;
  color: #dddddd; }

img {
  border: 0; }

h1, h2, h3 {
  color: #ff0084; }
  h1 a, h2 a, h3 a {
    color: #ff0084 !important;
    text-decoration: underline; }

/*common style*/
.fs-10 {
  font-size: 10px; }

.fs-12 {
  font-size: 12px; }

.fs-14 {
  font-size: 14px; }

.right {
  float: right; }

.left {
  float: left; }

.text-right {
  text-align: right; }

.text-left {
  text-align: left; }

.text-center {
  text-align: center; }

.clearfix {
  clear: both; }

.small {
  font-size: 10px; }

.normal-font {
  font-weight: normal; }

/*page template*/
.header {
  width: 777px;
  margin: 0 auto; }

.logo {
  height: 539px; }

ul.nav {
  margin: 0;
  padding: 0;
  padding-left: 400px;
  display: block; }
  ul.nav li {
    list-style: none outside none;
    float: left;
    /*    a.iphone:hover {background-position: left bottom;}*/
    /*    a.ipad:hover {background-position: right top;}*/ }
    ul.nav li a {
      display: block;
      width: 119px;
      height: 97px;
      background: url("/images/tabs_btn.png") no-repeat; }
    ul.nav li a.on-iphone {
      background-position: left bottom;
      border-right: 1px solid #000;
      border-left: 1px solid #000; }
    ul.nav li a.ipad {
      background-position: right bottom; }
    ul.nav li a.on-ipad {
      background-position: right top;
      border-right: 1px solid #000;
      border-left: 1px solid #000; }

.main {
  clear: both;
  width: 812px;
  margin: 0 auto; }
  .main .main-header {
    background: url("/images/main_bg.png") no-repeat right top;
    height: 60px; }
  .main .main-boddy {
    background: url("/images/main_bg_repeat.png") repeat-y;
    height: 1000px; }
  .main .main-footer {
    background: url("/images/main_bg.png") no-repeat right bottom;
    height: 120px; }

.footer {
  clear: both;
  width: 812px;
  margin: 0 auto;
  padding: 80px 0;
  text-align: right; }
