%h2 Welcome
%p#page-intro
  What would you like to do?
%ul.shortcut-buttons-set
  %li
    = link_to raw("<span>#{image_tag("/images/admin/icons/paper_content_pencil_48.png")}<br>Create new app</span>"), new_admin_app_path, :class => "shortcut-button"
.clear
.content-box
  .content-box-header
    %h3 Edit App
    %ul.content-box-tabs
      %li
        = link_to "Edit", "#", :class => "default-tab"
    .clear
  .content-box-content
    .tab-content.default-tab
      